<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Battleships</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header>
        <h1>Battleships</h1>
    </header>
    <div class="container">
        <div class="left">
            <p>Score: <span id="score"></span></p>
            <p>Hits: <span id="hits"></span></p>
            <p>Turn: <span id="turn"></span></p>
            <h4>Your board:</h4>
            <table id="gameBoard">

            </table> <br>
            <label id="label"></label> <br>
            <button id="startButton">Start</button>
            <button id="randomButton">Random Board</button>
        </div>
        <div class="right">
            <p>Score: <span id="opscore"></span></p>
            <p>Hits: <span id="ophits"></span></p>
            <p>Turn: <span id="opturn"></span></p>
            <h4 id="opponent-text">Online players:</h4>
            <div id="select-container">
                <select id="select" size ="20">
                </select>
            </div>
            <table id="gameBoard2">

            </table>
        </div>
    </div>
    <script src="static/js/ajax.js"></script>
    <script src="static/js/app.js"></script>
</body>

</html>