.form-container,
.dashoard-container,
.images-container,
.terms-container {
    max-width: 900px;
    width: 100%;
    margin: 50px auto;
    background: #F9F9F9;
    padding: 20px;
}

main {
    min-height: calc(100vh - 90px);
}

input {
    background: #fff;
}

#header_spacing {
    height: 50px;
}

.btn {
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.40); */
    border-radius: 0;
    transition: .5s;
}

.btn-orange,
.btn-orange:focus {
    background-color: #ff6114;
    border-color: #ff6114;
    font-weight: bold;
    color: #fff;
}

.btn-orange:hover {
    background-color: #fff;
    color: #ff6114;
}