.contact-overlay {
    cursor: default;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: 2;
    /* "delay" the visibility transition */
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
}

.contact-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    padding: 20px;
    background: #fff;
    width: 90%;
    max-width: 500px;
    /* "delay" the visibility transition */
    -webkit-transition: 0s;
    transition: 0s;
    z-index: 3;
}

.contact-form .close {
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.contact-form .btn {
    transition: 0s;
}

.contact-form:target {
    visibility: visible;
    opacity: 1;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.contact-form:target+.contact-overlay {
    opacity: 1;
    visibility: visible;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.contact-form h3 {
    margin: 5px auto;
    color: #ff6114;
}

.contact-form .popup {
    width: 90%;
}