
$color1: #1E1F1F;
$color1_c: #fff;

$color2: #FF0000;
$color2_c: #fff;

$color3: #FF1100;
$color3_c: #fff;

$color4: lighten($color1, 20);
$color4_c: #fff;

$color5: green;
$color5_c: white;

$color6: red;
$color6_c: white;