iframe {
    margin: auto;
    height: 80vh;
    width: 80vw;
    background: #FFFFFF;
}

.App-logo {
    animation: App-logo-spin infinite 15s linear;
    height: 80px;
  }  

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }  

  .navbar-dropdown {
      background: black;
  }