body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

iframe {
  margin: auto;
  height: 75vh;
  background: #FFFFFF;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 80px;
}  

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}  

.navbar-dropdown {
  background: black;
}

.linkedin {
  margin: auto;
}

.container {
  padding: 0;
}

.tech-tags li {
  display: inline-block;
  overflow: hidden;
  padding: 4px 10px;
  color: #FFF;
}

.tech-tags a {
  display: inline-block;
  background-color: rgba(175,34,34,.8);
  color: #FFF;
  padding: 4px 10px;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

#editor {
  clear: left;
}

#frame {
  position: absolute;
  top: 15vh;
  left: 0;
  right: 0;
}

#iframe {
  position: absolute;
  top: 8vh;
  left: 0;
  right: 0;
}

#intro {
  position: absolute;
  top: 8vh;
  left: 0;
  right: 0;
}

.box {
  margin: auto;
}

.navbar-brand {
  position: absolute;
  left: -3vh;
}

#linkedin-container {
  height: 400px; 
  width: 400px;
}